.version.artikel_0001 /* version checker */
{
	color: #0000E2;
	background-color: #02D576;
}

.html
{
	background-color: #263033;
}

#page
{
	z-index: 1;
	width: 1271px;
	min-height: 1922px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}

#pu1484
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -36px;
	margin-left: -100px;
}

#u1484
{
	z-index: 2;
	min-height: 1567px;
	padding-bottom: 184px;
}

#u1484_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1271px;
	left: -100px;
}

#u1487
{
	z-index: 24;
	width: 1280px;
	padding-bottom: 89px;
	margin-right: -10000px;
	margin-top: 121px;
	left: 96px;
}

#pu1488
{
	z-index: 25;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 69px;
	margin-left: -1px;
}

#u1488
{
	z-index: 0;
	width: 1280px;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu1603
{
	width: 0.01px;
	position: relative;
	left: 50px;
	padding-top: 49px;
	z-index: 2;
	padding-bottom: 590px;
}

#u1603
{
	z-index: 41;
	width: 649px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1585-13
{
	z-index: 27;
	width: 528px;
	min-height: 334px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 669px;
}

#u1585-2
{
	font-size: 20px;
	line-height: 24px;
	color: #E0E0E0;
}

#u1585-4
{
	font-size: 42px;
	line-height: 50px;
	color: #FFFFFF;
}

#u1585-5
{
	font-size: 32px;
	line-height: 38px;
	color: #FFFFFF;
}

#u1585-7,#u1585-8,#u1585-9
{
	font-size: 36px;
	line-height: 43px;
	color: #FFF961;
}

#u1585-11
{
	font-size: 16px;
	line-height: 19px;
	color: #E0E0E0;
}

#u1484-bw
{
	z-index: 2;
	min-height: 1567px;
}

#u1489,#u1489-bw
{
	z-index: 26;
	height: 121px;
}

#u1588
{
	z-index: 40;
	width: 109px;
	min-height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 573px;
	left: 814px;
}

#pu1485-15
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 1998px;
	margin-left: 99px;
}

#u1485-15
{
	z-index: 3;
	width: 769px;
	min-height: 169px;
	margin-right: -10000px;
}

#u1486-6
{
	z-index: 18;
	width: 645px;
	min-height: 169px;
	margin-right: -10000px;
	left: 427px;
}

body
{
	position: relative;
	min-width: 1271px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -1997px;
}

