.version.index /* version checker */
{
	color: #0000F1;
	background-color: #265C92;
}

.html
{
	background-color: #283033;
}

#page
{
	z-index: 1;
	width: 1280px;
	min-height: 4810px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	width: 0.01px;
}

#home
{
	width: 22px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 729px;
}

#u260,#u260-bw
{
	z-index: 51;
	height: 100px;
}

#menuu131
{
	z-index: 52;
	width: 1084px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 267px;
}

#u135
{
	width: 269px;
	padding-bottom: 31px;
}

#u135:active
{
	width: 269px;
	min-height: 0px;
	margin: 0px;
}

#u137-4
{
	width: 269px;
	min-height: 29px;
	margin-right: -10000px;
	top: 15px;
}

#u135:active #u137-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 269px;
	margin: 0px -10000px 0px 0px;
}

#u211
{
	width: 269px;
	padding-bottom: 31px;
}

#u135.MuseMenuActive,#u211:active
{
	width: 269px;
	min-height: 0px;
	margin: 0px;
}

#u213-4
{
	width: 269px;
	min-height: 29px;
	margin-right: -10000px;
	top: 15px;
}

#u135.MuseMenuActive #u137-4,#u211:active #u213-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 269px;
	margin: 0px -10000px 0px 0px;
}

#u204
{
	width: 270px;
	padding-bottom: 31px;
}

#u204:active
{
	width: 270px;
	min-height: 0px;
	margin: 0px;
}

#u206-4
{
	width: 270px;
	min-height: 29px;
	margin-right: -10000px;
	top: 15px;
}

#u204:active #u206-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 270px;
	margin: 0px -10000px 0px 0px;
}

#u190
{
	width: 270px;
	padding-bottom: 31px;
}

#u204.MuseMenuActive,#u190:active
{
	width: 270px;
	min-height: 0px;
	margin: 0px;
}

#u192-4
{
	width: 270px;
	min-height: 29px;
	margin-right: -10000px;
	top: 15px;
}

#u204.MuseMenuActive #u206-4,#u190:active #u192-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 270px;
	margin: 0px -10000px 0px 0px;
}

#u447
{
	z-index: 105;
	width: 158px;
	margin-right: -10000px;
	margin-top: 27px;
	left: 109px;
}

#pu218
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -100px;
}

#pu218_position_content
{
	padding-bottom: 911px;
}

#u218
{
	z-index: 2;
	height: 911px;
	top: 0px;
}

#u218-bw
{
	z-index: 2;
}

#u343
{
	z-index: 3;
	height: 911px;
	top: 0px;
}

#u343-bw
{
	z-index: 3;
}

#u261
{
	z-index: 77;
	height: 100px;
}

#u261-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 77;
	top: 811px;
}

#menuu307
{
	z-index: 78;
	width: 1084px;
	top: 831px;
	left: 167px;
}

#u132,#u322
{
	width: 269px;
	min-height: 60px;
	margin-right: -10000px;
}

#u323
{
	width: 269px;
	padding-bottom: 31px;
}

#u211.MuseMenuActive,#u323:active
{
	width: 269px;
	min-height: 0px;
	margin: 0px;
}

#u324-4
{
	width: 269px;
	min-height: 29px;
	margin-right: -10000px;
	top: 15px;
}

#u211.MuseMenuActive #u213-4,#u323:active #u324-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 269px;
	margin: 0px -10000px 0px 0px;
}

#u210,#u315
{
	width: 269px;
	min-height: 60px;
	margin-right: -10000px;
	left: 271px;
}

#u318
{
	width: 269px;
	padding-bottom: 31px;
}

#u323.MuseMenuActive,#u318:active
{
	width: 269px;
	min-height: 0px;
	margin: 0px;
}

#u318.MuseMenuActive
{
	width: 269px;
	min-height: 0px;
	margin: 0px;
}

#u320-4
{
	width: 269px;
	min-height: 29px;
	margin-right: -10000px;
	top: 15px;
}

#u323.MuseMenuActive #u324-4,#u318:active #u320-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 269px;
	margin: 0px -10000px 0px 0px;
}

#u318.MuseMenuActive #u320-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 269px;
	margin: 0px -10000px 0px 0px;
}

#u203,#u336
{
	width: 270px;
	min-height: 60px;
	margin-right: -10000px;
	left: 542px;
}

#u339
{
	width: 270px;
	padding-bottom: 31px;
}

#u190.MuseMenuActive,#u339:active
{
	width: 270px;
	min-height: 0px;
	margin: 0px;
}

#u342-4
{
	width: 270px;
	min-height: 29px;
	margin-right: -10000px;
	top: 15px;
}

#u190.MuseMenuActive #u192-4,#u339:active #u342-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 270px;
	margin: 0px -10000px 0px 0px;
}

#u189,#u329
{
	width: 270px;
	min-height: 60px;
	margin-right: -10000px;
	left: 814px;
}

#u330
{
	width: 270px;
	padding-bottom: 31px;
}

#u339.MuseMenuActive,#u330:active
{
	width: 270px;
	min-height: 0px;
	margin: 0px;
}

#u330.MuseMenuActive
{
	width: 270px;
	min-height: 0px;
	margin: 0px;
}

#u331-4
{
	width: 270px;
	min-height: 29px;
	margin-right: -10000px;
	top: 15px;
}

#u339.MuseMenuActive #u342-4,#u330:active #u331-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 270px;
	margin: 0px -10000px 0px 0px;
}

#u330.MuseMenuActive #u331-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 270px;
	margin: 0px -10000px 0px 0px;
}

#u434
{
	z-index: 103;
	width: 158px;
	top: 838px;
	left: 9px;
}

#u447_img,#u434_img
{
	padding-right: 1px;
}

#pu366
{
	z-index: 14;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 187px;
	margin-left: 100px;
}

#pu420-17
{
	width: 0.01px;
	position: relative;
	left: 29px;
	padding-top: 26px;
	z-index: 2;
	padding-bottom: 26px;
}

#u420-17
{
	z-index: 18;
	width: 394px;
	min-height: 591px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u420-2,#u420-3,#u420-4
{
	font-size: 16px;
	text-align: left;
	line-height: 19px;
	padding-right: 28px;
}

#u420-6
{
	font-size: 16px;
	text-align: left;
	line-height: 19px;
	padding-right: 28px;
	padding-left: 50px;
}

#u420-7,#u420-8,#u420-9,#u420-10,#u420-11,#u420-12
{
	font-size: 18px;
	text-align: right;
	line-height: 22px;
	padding-right: 50px;
}

#u420-15
{
	font-size: 18px;
	text-align: right;
	padding-right: 50px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u420-13
{
	font-size: 12px;
	line-height: 14px;
}

#u420-14
{
	line-height: 22px;
}

#u400
{
	z-index: 47;
	width: 808px;
	height: 591px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 414px;
	background: transparent url("../images/story_01.jpg") no-repeat left top;
	background-size: cover;
}

#u301,#u301-bw
{
	z-index: 4;
	height: 911px;
}

#pu367
{
	z-index: 15;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 187px;
	margin-left: 100px;
}

#u421-4
{
	z-index: 39;
	width: 389px;
	min-height: 586px;
	border-width: 5px;
	border-style: solid;
	border-color: #C5D999;
	background-color: transparent;
	font-size: 36px;
	line-height: 43px;
	color: #FFFFFF;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
}

#u409
{
	z-index: 48;
	vertical-align: top;
	width: 808px;
	height: 591px;
	position: relative;
	margin-right: -10000px;
	left: 414px;
	background: url("../images/shop_01-u409.png") no-repeat 0px 0px;
}

#u354,#u354-bw
{
	z-index: 5;
	height: 911px;
}

#pu371
{
	z-index: 16;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 195px;
	margin-left: 100px;
}

#u422-4
{
	z-index: 35;
	width: 389px;
	min-height: 586px;
	border-width: 5px;
	border-style: solid;
	border-color: #C5D999;
	background-color: transparent;
	font-size: 36px;
	line-height: 43px;
	color: #FFFFFF;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
}

#u411
{
	z-index: 49;
	width: 803px;
	height: 586px;
	border-width: 5px;
	border-style: solid;
	border-color: #C5D999;
	background-color: transparent;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 412px;
}

#u356,#u356-bw
{
	z-index: 7;
	height: 911px;
}

#phome,#ppu366,#ppu367,#ppu371,#ppu373
{
	width: 0.01px;
	margin-left: -100px;
}

#pu373
{
	z-index: 17;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 202px;
	margin-left: 100px;
}

#u366,#u367,#u371,#u373
{
	z-index: 0;
	width: 1280px;
	background-color: #BAC89E;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu421-4,#pu422-4,#pu423-4
{
	width: 0.01px;
	position: relative;
	left: 29px;
	padding-top: 26px;
	z-index: 2;
	padding-bottom: 33px;
}

#u423-4
{
	z-index: 43;
	width: 389px;
	min-height: 586px;
	border-width: 5px;
	border-style: solid;
	border-color: #C5D999;
	background-color: transparent;
	font-size: 36px;
	line-height: 43px;
	color: #FFFFFF;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
}

#u413
{
	z-index: 50;
	width: 803px;
	height: 586px;
	border-width: 5px;
	border-style: solid;
	border-color: #C5D999;
	background-color: transparent;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 412px;
}

#u360,#u360-bw
{
	z-index: 6;
	height: 911px;
}

#story,#shop,#socialmedia,#contact
{
	width: 22px;
	margin-right: -10000px;
	left: 729px;
}

#u458,#u458-bw
{
	z-index: 13;
	height: 256px;
}

body
{
	position: relative;
	min-width: 1280px;
}

#page .verticalspacer
{
	clear: both;
}

