.version.index /* version checker */
{
	color: #000016;
	background-color: #06CAC5;
}

.html
{
	background-color: #283033;
}

#page
{
	z-index: 1;
	width: 1280px;
	min-height: 4810px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 1px;
	width: 0.01px;
}

#u569
{
	z-index: 113;
	height: 100px;
	top: 0px;
}

#u569-bw
{
	z-index: 113;
}

#u715
{
	z-index: 3;
	height: 911px;
}

#u715-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 3;
	top: 0px;
}

#u574
{
	z-index: 112;
	height: 100px;
	top: 0px;
}

#u574-bw
{
	z-index: 112;
}

#u672
{
	z-index: 2;
	height: 911px;
}

#u672-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 2;
	top: 0px;
}

#home
{
	margin-left: 629px;
}

#menuu540
{
	z-index: 116;
	width: 1084px;
	top: 20px;
	left: 50%;
	margin-left: -473px;
}

#u562
{
	width: 269px;
	min-height: 60px;
	margin-right: -10000px;
}

#u563
{
	width: 269px;
	padding-bottom: 31px;
}

#u563:active
{
	width: 269px;
	min-height: 0px;
	margin: 0px;
}

#u565-4
{
	width: 269px;
	min-height: 29px;
	margin-right: -10000px;
	top: 15px;
}

#u563:active #u565-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 269px;
	margin: 0px -10000px 0px 0px;
}

#u555
{
	width: 269px;
	min-height: 60px;
	margin-right: -10000px;
	left: 271px;
}

#u558
{
	width: 269px;
	padding-bottom: 31px;
}

#u563.MuseMenuActive,#u558:active
{
	width: 269px;
	min-height: 0px;
	margin: 0px;
}

#u558.MuseMenuActive
{
	width: 269px;
	min-height: 0px;
	margin: 0px;
}

#u560-4
{
	width: 269px;
	min-height: 29px;
	margin-right: -10000px;
	top: 15px;
}

#u563.MuseMenuActive #u565-4,#u558:active #u560-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 269px;
	margin: 0px -10000px 0px 0px;
}

#u558.MuseMenuActive #u560-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 269px;
	margin: 0px -10000px 0px 0px;
}

#u548
{
	width: 270px;
	min-height: 60px;
	margin-right: -10000px;
	left: 542px;
}

#u551
{
	width: 270px;
	padding-bottom: 31px;
}

#u551:active
{
	width: 270px;
	min-height: 0px;
	margin: 0px;
}

#u554-4
{
	width: 270px;
	min-height: 29px;
	margin-right: -10000px;
	top: 15px;
}

#u551:active #u554-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 270px;
	margin: 0px -10000px 0px 0px;
}

#u541
{
	width: 270px;
	min-height: 60px;
	margin-right: -10000px;
	left: 814px;
}

#u544
{
	width: 270px;
	padding-bottom: 31px;
}

#u551.MuseMenuActive,#u544:active
{
	width: 270px;
	min-height: 0px;
	margin: 0px;
}

#u544.MuseMenuActive
{
	width: 270px;
	min-height: 0px;
	margin: 0px;
}

#u547-4
{
	width: 270px;
	min-height: 29px;
	margin-right: -10000px;
	top: 15px;
}

#u551.MuseMenuActive #u554-4,#u544:active #u547-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 270px;
	margin: 0px -10000px 0px 0px;
}

#u544.MuseMenuActive #u547-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 270px;
	margin: 0px -10000px 0px 0px;
}

#u572
{
	z-index: 114;
	width: 158px;
	top: 27px;
	left: 50%;
	margin-left: -631px;
}

#u572_img
{
	padding-right: 1px;
}

#ppu366
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 892px;
}

#pu366
{
	z-index: 35;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 187px;
	margin-left: 100px;
}

#pu420-19
{
	width: 0.01px;
	position: relative;
	left: 29px;
	padding-top: 26px;
	z-index: 2;
	padding-bottom: 26px;
}

#u420-19
{
	z-index: 40;
	width: 394px;
	min-height: 591px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#u420-2,#u420-4,#u420-5,#u420-6
{
	font-size: 16px;
	text-align: left;
	line-height: 19px;
	padding-right: 28px;
}

#u420-8
{
	font-size: 16px;
	text-align: left;
	line-height: 19px;
	padding-right: 28px;
	padding-left: 50px;
}

#u420-9,#u420-10,#u420-11,#u420-12,#u420-13,#u420-14
{
	font-size: 18px;
	text-align: right;
	line-height: 22px;
	padding-right: 50px;
}

#u420-17
{
	font-size: 18px;
	text-align: right;
	padding-right: 50px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u420-16
{
	line-height: 22px;
}

#u400
{
	z-index: 70;
	width: 808px;
	height: 591px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 414px;
	background: transparent url("../images/story_01.jpg") no-repeat left top;
	background-size: cover;
}

#u589,#u589-bw
{
	z-index: 4;
	height: 911px;
}

#pu367
{
	z-index: 36;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 187px;
	margin-left: 100px;
}

#pu409
{
	width: 0.01px;
	position: relative;
	left: 443px;
	padding-top: 26px;
	z-index: 2;
	padding-bottom: 33px;
}

#u409
{
	z-index: 71;
	width: 808px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 23px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/shop_01-u409-fr.png") no-repeat left top;
}

#u845-4
{
	z-index: 72;
	width: 475px;
	min-height: 114px;
	background-color: #3B4730;
	border-radius: 30px;
	line-height: 130px;
	text-align: center;
	font-size: 52px;
	color: #FFFFFF;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 438px;
	left: -40px;
}

#u845-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-radius: 30px;
	box-shadow: inset 13px 13px 19px rgba(255,255,255,0.2), inset -13px -13px 19px rgba(0,0,0,0.2);
}

#u578,#u578-bw
{
	z-index: 5;
	height: 911px;
}

#u585,#u585-bw
{
	z-index: 7;
	height: 911px;
}

#u371
{
	z-index: 37;
	width: 1280px;
	height: 651px;
	background-color: #BAC89E;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 195px;
	left: 100px;
}

#u1064
{
	z-index: 39;
	width: 1280px;
	background-color: #455943;
	position: relative;
	margin-right: -10000px;
	margin-top: 310px;
	left: 100px;
}

#u1048-9
{
	z-index: 59;
	width: 394px;
	min-height: 295px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: left;
	font-size: 16px;
	color: #FFFFFF;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-bottom: -8px;
	position: relative;
	margin-right: -10000px;
	margin-top: 139px;
	left: 29px;
}

#u1048-2,#u1048-3
{
	padding-right: 28px;
}

#u1048-7
{
	padding-right: 28px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u420-15,#u1048-5
{
	font-size: 12px;
	line-height: 14px;
}

#u1048-4,#u1048-6
{
	line-height: 19px;
}

#u411
{
	z-index: 76;
	width: 808px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 82px;
	margin-bottom: -75px;
	position: relative;
	margin-right: -10000px;
	margin-top: -90px;
	left: 443px;
}

#u636
{
	z-index: 99;
	width: 140px;
	min-height: 70px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 439px;
	left: 252px;
}

#u1055
{
	z-index: 102;
	width: 300px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 152px;
	left: 453px;
}

#u1041
{
	z-index: 100;
	width: 301px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 369px;
	left: 667px;
}

#pu373
{
	z-index: 38;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 202px;
	margin-left: 100px;
}

#u366,#u367,#u373
{
	z-index: 0;
	width: 1280px;
	background-color: #BAC89E;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#ppu1120
{
	width: 0.01px;
	padding-bottom: 10.276034712952423px;
	position: relative;
	left: 167px;
	padding-top: 25px;
	z-index: 2;
}

#pu1120
{
	width: 0.01px;
	margin-left: 330px;
}

#u1120
{
	z-index: 110;
	width: 158px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
}

#u1117-4
{
	z-index: 106;
	width: 119px;
	min-height: 54px;
	background-color: transparent;
	line-height: 49px;
	font-size: 41px;
	color: #FFFFFF;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	left: 168px;
}

#pu1105
{
	width: 0.01px;
	margin-top: 27px;
}

#u1105
{
	z-index: 104;
	width: 400px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1095
{
	z-index: 68;
	width: 400px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 546px;
}

#pu1113-11
{
	width: 0.01px;
	margin-top: 13px;
}

#u1113-11
{
	z-index: 88;
	width: 400px;
	min-height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #E5E5E5;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u1111-11
{
	z-index: 77;
	width: 394px;
	min-height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #E5E5E5;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 546px;
}

#u584,#u584-bw
{
	z-index: 6;
	height: 911px;
}

#story,#shop,#socialmedia,#contact
{
	width: 22px;
	margin-right: -10000px;
	left: 729px;
}

#ppu367,#pu585,#ppu373,#pu586
{
	width: 0.01px;
	margin-left: -100px;
}

#u586
{
	z-index: 13;
	min-height: 223px;
	padding-bottom: 33px;
}

#u586_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1280px;
	left: -100px;
}

#u1066-15
{
	z-index: 14;
	width: 769px;
	min-height: 169px;
	margin-right: -10000px;
	margin-top: 54px;
	left: 154px;
}

#u586-bw
{
	z-index: 13;
	min-height: 223px;
}

#u1068-6
{
	z-index: 29;
	width: 645px;
	min-height: 169px;
	margin-right: -10000px;
	margin-top: 43px;
	left: 708px;
}

body
{
	position: relative;
	min-width: 1280px;
}

#page .verticalspacer
{
	clear: both;
}

