.version.index /* version checker */
{
	color: #00000E;
	background-color: #820593;
}

.html
{
	background-color: #283033;
}

#page
{
	z-index: 1;
	width: 1280px;
	min-height: 4810px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 1px;
	width: 0.01px;
}

#u672
{
	z-index: 2;
	height: 911px;
}

#u672-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 2;
	top: 0px;
}

#u715
{
	z-index: 3;
	height: 911px;
}

#u715-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 3;
	top: 0px;
}

#u574
{
	z-index: 54;
	height: 100px;
	top: 0px;
}

#u574-bw
{
	z-index: 54;
}

#u569
{
	z-index: 55;
	height: 100px;
	top: 0px;
}

#u569-bw
{
	z-index: 55;
}

#home
{
	margin-left: 629px;
}

#menuu540
{
	z-index: 58;
	width: 1084px;
	top: 20px;
	left: 50%;
	margin-left: -473px;
}

#u562
{
	width: 269px;
	min-height: 60px;
	margin-right: -10000px;
}

#u563
{
	width: 269px;
	padding-bottom: 31px;
}

#u563:active
{
	width: 269px;
	min-height: 0px;
	margin: 0px;
}

#u565-4
{
	width: 269px;
	min-height: 29px;
	margin-right: -10000px;
	top: 15px;
}

#u563:active #u565-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 269px;
	margin: 0px -10000px 0px 0px;
}

#u555
{
	width: 269px;
	min-height: 60px;
	margin-right: -10000px;
	left: 271px;
}

#u558
{
	width: 269px;
	padding-bottom: 31px;
}

#u563.MuseMenuActive,#u558:active
{
	width: 269px;
	min-height: 0px;
	margin: 0px;
}

#u558.MuseMenuActive
{
	width: 269px;
	min-height: 0px;
	margin: 0px;
}

#u560-4
{
	width: 269px;
	min-height: 29px;
	margin-right: -10000px;
	top: 15px;
}

#u563.MuseMenuActive #u565-4,#u558:active #u560-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 269px;
	margin: 0px -10000px 0px 0px;
}

#u558.MuseMenuActive #u560-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 269px;
	margin: 0px -10000px 0px 0px;
}

#u548
{
	width: 270px;
	min-height: 60px;
	margin-right: -10000px;
	left: 542px;
}

#u551
{
	width: 270px;
	padding-bottom: 31px;
}

#u551:active
{
	width: 270px;
	min-height: 0px;
	margin: 0px;
}

#u554-4
{
	width: 270px;
	min-height: 29px;
	margin-right: -10000px;
	top: 15px;
}

#u551:active #u554-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 270px;
	margin: 0px -10000px 0px 0px;
}

#u541
{
	width: 270px;
	min-height: 60px;
	margin-right: -10000px;
	left: 814px;
}

#u544
{
	width: 270px;
	padding-bottom: 31px;
}

#u551.MuseMenuActive,#u544:active
{
	width: 270px;
	min-height: 0px;
	margin: 0px;
}

#u544.MuseMenuActive
{
	width: 270px;
	min-height: 0px;
	margin: 0px;
}

#u547-4
{
	width: 270px;
	min-height: 29px;
	margin-right: -10000px;
	top: 15px;
}

#u551.MuseMenuActive #u554-4,#u544:active #u547-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 270px;
	margin: 0px -10000px 0px 0px;
}

#u544.MuseMenuActive #u547-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 270px;
	margin: 0px -10000px 0px 0px;
}

#u572
{
	z-index: 56;
	width: 158px;
	top: 27px;
	left: 50%;
	margin-left: -631px;
}

#u572_img
{
	padding-right: 1px;
}

#ppu366
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 892px;
}

#pu366
{
	z-index: 14;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 187px;
	margin-left: 100px;
}

#pu420-19
{
	width: 0.01px;
	position: relative;
	left: 29px;
	padding-top: 26px;
	z-index: 2;
	padding-bottom: 26px;
}

#u420-19
{
	z-index: 18;
	width: 394px;
	min-height: 591px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#u420-2,#u420-4,#u420-5,#u420-6
{
	font-size: 16px;
	text-align: left;
	line-height: 19px;
	padding-right: 28px;
}

#u420-8
{
	font-size: 16px;
	text-align: left;
	line-height: 19px;
	padding-right: 28px;
	padding-left: 50px;
}

#u420-9,#u420-10,#u420-11,#u420-12,#u420-13,#u420-14
{
	font-size: 18px;
	text-align: right;
	line-height: 22px;
	padding-right: 50px;
}

#u420-17
{
	font-size: 18px;
	text-align: right;
	padding-right: 50px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u420-15
{
	font-size: 12px;
	line-height: 14px;
}

#u420-16
{
	line-height: 22px;
}

#u400
{
	z-index: 49;
	width: 808px;
	height: 591px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 414px;
	background: transparent url("../images/story_01.jpg") no-repeat left top;
	background-size: cover;
}

#u589,#u589-bw
{
	z-index: 4;
	height: 911px;
}

#pu367
{
	z-index: 15;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 187px;
	margin-left: 100px;
}

#u421-4
{
	z-index: 41;
	width: 394px;
	min-height: 591px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-size: 36px;
	line-height: 43px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u409
{
	z-index: 50;
	vertical-align: top;
	width: 808px;
	height: 591px;
	position: relative;
	margin-right: -10000px;
	left: 414px;
	background: url("../images/shop_01-u409.png") no-repeat 0px 0px;
}

#u578,#u578-bw
{
	z-index: 5;
	height: 911px;
}

#pu371
{
	z-index: 16;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 195px;
	margin-left: 100px;
}

#u422-4
{
	z-index: 37;
	width: 394px;
	min-height: 591px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-size: 36px;
	line-height: 43px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u411
{
	z-index: 51;
	width: 808px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 414px;
}

#u636
{
	z-index: 53;
	width: 140px;
	min-height: 70px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 521px;
	left: 668px;
}

#u585,#u585-bw
{
	z-index: 7;
	height: 911px;
}

#ppu367,#ppu371,#ppu373
{
	width: 0.01px;
	margin-left: -100px;
}

#pu373
{
	z-index: 17;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 202px;
	margin-left: 100px;
}

#u366,#u367,#u371,#u373
{
	z-index: 0;
	width: 1280px;
	background-color: #BAC89E;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu421-4,#pu422-4,#pu423-4
{
	width: 0.01px;
	position: relative;
	left: 29px;
	padding-top: 26px;
	z-index: 2;
	padding-bottom: 33px;
}

#u423-4
{
	z-index: 45;
	width: 394px;
	min-height: 591px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-size: 36px;
	line-height: 43px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u413
{
	z-index: 52;
	width: 808px;
	height: 591px;
	position: relative;
	margin-right: -10000px;
	left: 414px;
}

.ie #u413
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u584,#u584-bw
{
	z-index: 6;
	height: 911px;
}

#story,#shop,#socialmedia,#contact
{
	width: 22px;
	margin-right: -10000px;
	left: 729px;
}

#u586,#u586-bw
{
	z-index: 13;
	height: 256px;
}

body
{
	position: relative;
	min-width: 1280px;
}

#page .verticalspacer
{
	clear: both;
}

