.version.index /* version checker */
{
	color: #00000C;
	background-color: #633C45;
}

.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 0px;
	min-height: 0px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-top: 62px;
	padding-right: 1920px;
	padding-bottom: 3096px;
	margin-left: auto;
	margin-right: auto;
}

#u91
{
	z-index: 3;
	height: 1820px;
	background-color: #000000;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u91-bw
{
	z-index: 3;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
}

#u92-9
{
	z-index: 21;
	min-height: 300px;
	background-color: #000000;
	line-height: 34px;
	color: #FFFFFF;
	font-size: 28px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

#u92-9-bw
{
	z-index: 21;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 780px;
}

#u141
{
	z-index: 30;
	width: 276px;
	height: 1160px;
	background-color: #FFFFFF;
	position: fixed;
	top: 780px;
	left: 0px;
}

#u135
{
	z-index: 31;
	width: 216px;
	background-color: transparent;
	position: fixed;
	top: 811px;
	left: 34px;
}

#u94
{
	z-index: 4;
	width: 2120px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: fixed;
	top: 1022px;
	left: -100px;
}

#u94_img
{
	padding-right: 1px;
	padding-bottom: 244px;
}

#u93-15
{
	z-index: 6;
	min-height: 880px;
	background-color: #000000;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	font-style: normal;
}

.js #u91.ose_pre_init,.js #u92-9.ose_pre_init,.js #u141.ose_pre_init,.js #u135.ose_pre_init,.js #u94.ose_pre_init,.js #u93-15.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u93-15-bw
{
	z-index: 6;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 1553px;
}

#u80
{
	z-index: 2;
	width: 1920px;
	height: 1080px;
	background-color: transparent;
	position: fixed;
	top: 0px;
	left: 0px;
}

#U101_animation
{
	width: 1920px;
	height: 1080px;
	border: none;
}

body
{
	position: relative;
	min-width: 1920px;
	padding-bottom: 2778px;
}

#page .verticalspacer
{
	clear: both;
}

