#u672
{
	background: #73FBFF url("../images/muse.jpg") no-repeat center top;
	background-size: cover;
}

#u715
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	background: transparent url("../images/muse_blur.jpg") no-repeat center top;
	background-size: cover;
}

#u574
{
	background-color: #FFFFFF;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	position: fixed;
}

#u569
{
	background-color: #4B554B;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: fixed;
}

.js #u715.ose_pre_init,.js #u569.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#menuu540
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
}

#u562,#u563
{
	background-color: transparent;
	position: relative;
}

#u563:active
{
	background-color: transparent;
}

#u565-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 29px;
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u555,#u558
{
	background-color: transparent;
	position: relative;
}

#u563.MuseMenuActive,#u558:active
{
	background-color: transparent;
}

#u560-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 29px;
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u548,#u551
{
	background-color: transparent;
	position: relative;
}

#u558.MuseMenuActive,#u551:active
{
	background-color: transparent;
}

#u554-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 29px;
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u541,#u544
{
	background-color: transparent;
	position: relative;
}

#u551.MuseMenuActive,#u544:active
{
	background-color: transparent;
}

#u544.MuseMenuActive
{
	background-color: transparent;
}

#u547-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 29px;
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u572
{
	background-color: transparent;
	position: fixed;
}

#u589,#u585
{
	background-color: #283033;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

#u578,#u584
{
	background-color: #334339;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

#home,#story,#shop,#socialmedia,#contact
{
	position: relative;
}

#u586
{
	background-color: #322224;
}

