.version.shop_alternative /* version checker */
{
	color: #000015;
	background-color: #77F7F0;
}

.html
{
	background-color: #263033;
}

#page
{
	z-index: 1;
	width: 1271px;
	min-height: 1922px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}

#pu1484
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -36px;
	margin-left: -100px;
}

#u1484
{
	z-index: 2;
	min-height: 1567px;
	padding-bottom: 184px;
}

#u1484_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1271px;
	left: -100px;
}

#u1487
{
	z-index: 24;
	width: 1280px;
	padding-bottom: 89px;
	margin-right: -10000px;
	margin-top: 121px;
	left: 96px;
}

#pu1488
{
	z-index: 25;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 69px;
	margin-left: -1px;
}

#u1488
{
	z-index: 0;
	width: 1280px;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#ppu1502
{
	width: 0.01px;
	position: relative;
	left: 90px;
	padding-top: 90px;
	z-index: 2;
	padding-bottom: 74px;
}

#pu1502
{
	width: 0.01px;
	margin-right: -10000px;
}

#u1502
{
	z-index: 27;
	width: 512px;
	height: 512px;
	background-color: #455943;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
}

#pu1503
{
	z-index: 28;
	width: 0.01px;
	position: relative;
	margin-top: 100px;
}

#u1651
{
	z-index: 35;
	width: 512px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu1504
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 598px;
}

#u1504
{
	z-index: 29;
	width: 512px;
	height: 512px;
	background-color: #455943;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
}

#pu1505
{
	z-index: 30;
	width: 0.01px;
	position: relative;
	margin-top: 100px;
}

#u1503,#u1505
{
	z-index: 0;
	width: 512px;
	background-color: #455943;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu1651,#pu1537
{
	width: 0.01px;
	position: relative;
	z-index: 2;
}

#u1537
{
	z-index: 31;
	width: 512px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1484-bw
{
	z-index: 2;
	min-height: 1567px;
}

#u1489,#u1489-bw
{
	z-index: 26;
	height: 121px;
}

#u1650
{
	z-index: 33;
	width: 512px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 280px;
	left: 185px;
}

#u1652
{
	z-index: 37;
	width: 512px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 280px;
	left: 783px;
}

#u1506
{
	z-index: 39;
	width: 512px;
	height: 512px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 280px;
	left: 185px;
}

#u1522
{
	z-index: 40;
	width: 512px;
	height: 512px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 280px;
	left: 783px;
}

#u1532
{
	z-index: 41;
	width: 512px;
	height: 512px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 892px;
	left: 188px;
}

#pu1485-15
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 1998px;
	margin-left: 99px;
}

#u1485-15
{
	z-index: 3;
	width: 769px;
	min-height: 169px;
	margin-right: -10000px;
}

#u1486-6
{
	z-index: 18;
	width: 645px;
	min-height: 169px;
	margin-right: -10000px;
	left: 427px;
}

body
{
	position: relative;
	min-width: 1271px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -1997px;
}

