.version.shop_instructions_2017_01_01 /* version checker */
{
	color: #0000F4;
	background-color: #18A0B2;
}

.html
{
	background-color: #262F33;
}

#page
{
	z-index: 1;
	width: 1271px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#pu1268
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -36px;
	margin-left: -100px;
}

#u1268
{
	z-index: 2;
	min-height: 1530px;
	padding-bottom: 115px;
	background: transparent url("../images/muse_blur.jpg") no-repeat center top;
	background-size: cover;
}

#u1268_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1271px;
	position: relative;
	left: -100px;
}

#u1271
{
	z-index: 24;
	width: 1280px;
	background-color: #455943;
	padding-bottom: 93px;
	position: relative;
	margin-right: -10000px;
	margin-top: 121px;
	left: 96px;
}

#pu1272
{
	z-index: 25;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 77px;
}

#u1272
{
	z-index: 0;
	width: 1280px;
	background-color: #BAC89E;
	opacity: 0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu1273-15
{
	width: 0.01px;
	position: relative;
	left: 171px;
	padding-top: 110px;
	z-index: 2;
	padding-bottom: 99px;
}

#u1273-15
{
	z-index: 26;
	width: 411px;
	min-height: 806px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	color: #FFFFFF;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#u1273-2,#u1273-3,#u1273-4
{
	font-size: 22px;
	line-height: 26px;
	padding-right: 28px;
}

#u1274-48
{
	z-index: 41;
	width: 528px;
	min-height: 1030px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	color: #FFFFFF;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 548px;
}

#u1273-5,#u1273-7,#u1273-8,#u1273-10,#u1273-11,#u1273-13,#u1274-2,#u1274-3,#u1274-6,#u1274-8,#u1274-9,#u1274-12,#u1274-13,#u1274-15
{
	font-size: 20px;
	line-height: 24px;
	padding-right: 28px;
}

#u1274-5,#u1274-11,#u1274-16,#u1274-18,#u1274-19,#u1274-20,#u1274-22,#u1274-23,#u1274-25,#u1274-26,#u1274-28,#u1274-29,#u1274-31,#u1274-32,#u1274-33,#u1274-34,#u1274-36,#u1274-37,#u1274-39,#u1274-40,#u1274-42,#u1274-43,#u1274-45
{
	font-size: 20px;
	line-height: 24px;
	padding-right: 28px;
	padding-left: 80px;
}

#u1274-46
{
	font-size: 16px;
	line-height: 19px;
	padding-right: 28px;
}

#u1268-bw
{
	z-index: 2;
	min-height: 1530px;
}

#u1275
{
	z-index: 89;
	height: 121px;
	background: transparent url("../images/sa%20croix_muse3.png") no-repeat center center;
}

#u1275-bw
{
	z-index: 89;
	height: 121px;
}

#pu1269-15
{
	width: 0.01px;
	margin: 1645px -10000px -205px 99px;
}

#u1269-15
{
	z-index: 3;
	width: 769px;
	min-height: 169px;
	background-color: transparent;
	color: #565656;
	position: relative;
	margin-right: -10000px;
}

#u1270-6
{
	z-index: 18;
	width: 645px;
	min-height: 169px;
	background-color: transparent;
	text-align: right;
	color: #565656;
	position: relative;
	margin-right: -10000px;
	left: 427px;
}

body
{
	position: relative;
	min-width: 1271px;
	padding-top: 36px;
	padding-bottom: 223px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -1645px;
}

