.version.index /* version checker */
{
	color: #000003;
	background-color: #C039DE;
}

@-ms-viewport
{
	width: 1078px;
}

@-webkit-viewport
{
	width: 1078px;
}

@-o-viewport
{
	width: 1078px;
}

@-moz-viewport
{
	width: 1078px;
}

@viewport
{
	width: 1078px;
}

.html
{
	background-color: #273033;
}

#page
{
	z-index: 1;
	width: 1078px;
	min-height: 569.9030590876882px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#u794
{
	z-index: 9;
	height: 76px;
}

#u794-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 9;
	top: 0px;
}

#u782
{
	z-index: 3;
	height: 1920px;
}

#u782-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 3;
	top: 0px;
}

#u793,#u793-bw
{
	z-index: 8;
	height: 76px;
}

#homemobile
{
	width: 22px;
	margin-right: -10000px;
	left: 449px;
}

#pu781
{
	width: 0.01px;
	padding-bottom: 1920px;
	margin-top: -76px;
}

#u781
{
	z-index: 2;
	height: 1920px;
}

#u781-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 2;
	top: 0px;
}

#menuu797
{
	z-index: 10;
	width: 1065px;
	top: 13px;
	left: 7px;
}

#u798
{
	width: 264px;
	min-height: 49px;
	padding-bottom: 1px;
	margin-right: -10000px;
}

#u801
{
	width: 264px;
	padding-bottom: 20px;
}

#u801:active
{
	width: 264px;
	min-height: 0px;
	margin: 0px;
}

#u801.MuseMenuActive
{
	width: 264px;
	min-height: 0px;
	margin: 0px;
}

#u803-4
{
	width: 264px;
	min-height: 29px;
	margin-right: -10000px;
	top: 10px;
}

#u801:active #u803-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 264px;
	margin: 0px -10000px 0px 0px;
}

#u801.MuseMenuActive #u803-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 264px;
	margin: 0px -10000px 0px 0px;
}

#u805
{
	width: 265px;
	min-height: 49px;
	padding-bottom: 1px;
	margin-right: -10000px;
	left: 266px;
}

#u806
{
	width: 265px;
	padding-bottom: 20px;
}

#u806:active
{
	width: 265px;
	min-height: 0px;
	margin: 0px;
}

#u807-4
{
	width: 265px;
	min-height: 29px;
	margin-right: -10000px;
	top: 10px;
}

#u806:active #u807-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 265px;
	margin: 0px -10000px 0px 0px;
}

#u819
{
	width: 265px;
	min-height: 49px;
	padding-bottom: 1px;
	margin-right: -10000px;
	left: 533px;
}

#u820
{
	width: 265px;
	padding-bottom: 20px;
}

#u806.MuseMenuActive,#u820:active
{
	width: 265px;
	min-height: 0px;
	margin: 0px;
}

#u821-4
{
	width: 265px;
	min-height: 29px;
	margin-right: -10000px;
	top: 10px;
}

#u806.MuseMenuActive #u807-4,#u820:active #u821-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 265px;
	margin: 0px -10000px 0px 0px;
}

#u812
{
	width: 265px;
	min-height: 49px;
	padding-bottom: 1px;
	margin-right: -10000px;
	left: 800px;
}

#u813
{
	width: 265px;
	padding-bottom: 20px;
}

#u820.MuseMenuActive,#u813:active
{
	width: 265px;
	min-height: 0px;
	margin: 0px;
}

#u813.MuseMenuActive
{
	width: 265px;
	min-height: 0px;
	margin: 0px;
}

#u814-4
{
	width: 265px;
	min-height: 29px;
	margin-right: -10000px;
	top: 10px;
}

#u820.MuseMenuActive #u821-4,#u813:active #u814-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 265px;
	margin: 0px -10000px 0px 0px;
}

#u813.MuseMenuActive #u814-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 265px;
	margin: 0px -10000px 0px 0px;
}

#u783,#u783-bw
{
	z-index: 4;
	height: 1920px;
}

#storymobile
{
	width: 22px;
	margin-right: -10000px;
	left: 516px;
}

#page_position_content,#pu793,#pu783,#pu784
{
	width: 0.01px;
}

#u784,#u784-bw
{
	z-index: 5;
	height: 1920px;
}

#shopmobile
{
	width: 22px;
	margin-right: -10000px;
	left: 511px;
}

#pu786
{
	width: 0.01px;
	margin-top: 1px;
}

#u786,#u786-bw
{
	z-index: 7;
	height: 1920px;
}

#socialmediamobile
{
	width: 22px;
	margin-right: -10000px;
	left: 505px;
}

#pu785
{
	width: 0.01px;
	margin-top: -1px;
}

#u785,#u785-bw
{
	z-index: 6;
	height: 1920px;
}

#teammobile
{
	width: 22px;
	margin-right: -10000px;
	left: 528px;
}

body
{
	position: relative;
	min-width: 1078px;
}

#page .verticalspacer
{
	clear: both;
}

