.version.index /* version checker */
{
	color: #0000E3;
	background-color: #A52826;
}

@-ms-viewport
{
	width: 1078px;
}

@-webkit-viewport
{
	width: 1078px;
}

@-o-viewport
{
	width: 1078px;
}

@-moz-viewport
{
	width: 1078px;
}

@viewport
{
	width: 1078px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1078px;
	min-height: 570px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u782
{
	z-index: 3;
	height: 1920px;
}

#u782-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 3;
	top: 0px;
}

#pphome
{
	width: 0.01px;
	padding-bottom: 1px;
	margin-right: -10000px;
}

#phome
{
	width: 0.01px;
}

#home
{
	width: 22px;
	margin-right: -10000px;
	left: 528px;
}

#u793,#u793-bw
{
	z-index: 13;
	height: 76px;
}

#u794,#u794-bw
{
	z-index: 14;
	height: 76px;
}

#menuu797
{
	z-index: 17;
	width: 1065px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 7px;
}

#u798
{
	width: 264px;
	min-height: 49px;
	padding-bottom: 1px;
	margin-right: -10000px;
}

#u801
{
	width: 264px;
	padding-bottom: 20px;
}

#u801:active
{
	width: 264px;
	min-height: 0px;
	margin: 0px;
}

#u801.MuseMenuActive
{
	width: 264px;
	min-height: 0px;
	margin: 0px;
}

#u803-4
{
	width: 264px;
	min-height: 29px;
	margin-right: -10000px;
	top: 10px;
}

#u801:active #u803-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 264px;
	margin: 0px -10000px 0px 0px;
}

#u801.MuseMenuActive #u803-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 264px;
	margin: 0px -10000px 0px 0px;
}

#u805
{
	width: 265px;
	min-height: 49px;
	padding-bottom: 1px;
	margin-right: -10000px;
	left: 266px;
}

#u806
{
	width: 265px;
	padding-bottom: 20px;
}

#u806:active
{
	width: 265px;
	min-height: 0px;
	margin: 0px;
}

#u807-4
{
	width: 265px;
	min-height: 29px;
	margin-right: -10000px;
	top: 10px;
}

#u806:active #u807-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 265px;
	margin: 0px -10000px 0px 0px;
}

#u819
{
	width: 265px;
	min-height: 49px;
	padding-bottom: 1px;
	margin-right: -10000px;
	left: 533px;
}

#u820
{
	width: 265px;
	padding-bottom: 20px;
}

#u806.MuseMenuActive,#u820:active
{
	width: 265px;
	min-height: 0px;
	margin: 0px;
}

#u821-4
{
	width: 265px;
	min-height: 29px;
	margin-right: -10000px;
	top: 10px;
}

#u806.MuseMenuActive #u807-4,#u820:active #u821-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 265px;
	margin: 0px -10000px 0px 0px;
}

#u812
{
	width: 265px;
	min-height: 49px;
	padding-bottom: 1px;
	margin-right: -10000px;
	left: 800px;
}

#u813
{
	width: 265px;
	padding-bottom: 20px;
}

#u820.MuseMenuActive,#u813:active
{
	width: 265px;
	min-height: 0px;
	margin: 0px;
}

#u813.MuseMenuActive
{
	width: 265px;
	min-height: 0px;
	margin: 0px;
}

#u814-4
{
	width: 265px;
	min-height: 29px;
	margin-right: -10000px;
	top: 10px;
}

#u820.MuseMenuActive #u821-4,#u813:active #u814-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 265px;
	margin: 0px -10000px 0px 0px;
}

#u813.MuseMenuActive #u814-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 265px;
	margin: 0px -10000px 0px 0px;
}

#pu783
{
	width: 0.01px;
	margin-top: 1857px;
}

#u783,#u783-bw
{
	z-index: 4;
	height: 1920px;
}

#u784
{
	z-index: 5;
	height: 693px;
}

#u784-bw
{
	z-index: 5;
	margin-top: 1387px;
	height: 693px;
}

#u785
{
	z-index: 6;
	height: 693px;
}

#u785-bw
{
	z-index: 6;
	margin-top: 1829px;
	height: 693px;
}

#u786
{
	z-index: 7;
	height: 693px;
}

#u786-bw
{
	z-index: 7;
	margin-top: 1610px;
	height: 693px;
}

#story
{
	width: 22px;
	margin-right: -10000px;
	left: 598px;
}

#shop
{
	width: 22px;
	margin-right: -10000px;
	margin-top: 1387px;
	left: 598px;
}

#socialmedia
{
	width: 22px;
	margin-right: -10000px;
	margin-top: 1610px;
	left: 598px;
}

#contact
{
	width: 22px;
	margin-right: -10000px;
	margin-top: 1829px;
	left: 598px;
}

#u781
{
	z-index: 2;
	height: 1920px;
}

#u781-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 2;
	top: 13px;
}

#u795
{
	z-index: 15;
	width: 158px;
	margin-right: -10000px;
	margin-top: 239px;
	left: 1208px;
}

#u795_img
{
	padding-right: 1px;
}

body
{
	position: relative;
	min-width: 1078px;
}

#page .verticalspacer
{
	clear: both;
}

