#u781
{
	background: #73FBFF url("../../images/muse.jpg") no-repeat center top;
	background-size: cover;
}

#u782
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	background: transparent url("../../images/muse_blur.jpg") no-repeat center top;
	background-size: cover;
}

#u793
{
	background-color: #FFFFFF;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	position: relative;
}

#u794
{
	background-color: #4B554B;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: fixed;
}

.js #u782.ose_pre_init,.js #u794.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#menuu797
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
}

#u798,#u801
{
	background-color: transparent;
	position: relative;
}

#u801:active
{
	background-color: transparent;
}

#u803-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 24px;
	line-height: 29px;
	color: #FFFFFF;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u805,#u806
{
	background-color: transparent;
	position: relative;
}

#u801.MuseMenuActive,#u806:active
{
	background-color: transparent;
}

#u807-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 24px;
	line-height: 29px;
	color: #FFFFFF;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u819,#u820
{
	background-color: transparent;
	position: relative;
}

#u806.MuseMenuActive,#u820:active
{
	background-color: transparent;
}

#u821-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 24px;
	line-height: 29px;
	color: #FFFFFF;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u812,#u813
{
	background-color: transparent;
	position: relative;
}

#u820.MuseMenuActive,#u813:active
{
	background-color: transparent;
}

#u813.MuseMenuActive
{
	background-color: transparent;
}

#u814-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	font-size: 24px;
	line-height: 29px;
	color: #FFFFFF;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u1303_img
{
	display: block;
	vertical-align: top;
}

#u786,#u783
{
	background-color: #283033;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

#u785,#u784
{
	background-color: #334339;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

#homemobile,#u1303,#socialmediamobile,#teammobile,#shopmobile,#storymobile
{
	position: relative;
}

